<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://192.168.28.128:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>BasicRestServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>sean</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\sean\Google Drive\School\SPRING 2015\CS 4670 Undergrade Research Proj\Basic REST service\BasicRestService\BasicRestService\App_Data\Database.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BasicRestService.Models.DatabaseEntities, BasicRestService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\sean\Google Drive\School\SPRING 2015\CS 4670 Undergrade Research Proj\Basic REST service\BasicRestService\BasicRestService\App_Data\Database.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>